{{> header}}

<main>
    <section>
        <div class="skew skew-top mr-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon fill="currentColor" points="0 0 10 10 0 10"></polygon>
            </svg>
        </div>
        <div class="skew skew-top ml-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon fill="currentColor" points="0 10 10 0 10 10"></polygon>
            </svg>
        </div>
        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="mb-16 flex flex-wrap items-center">
                    <div class="w-full lg:w-1/2">
                        <span class="text-teal-700 font-bold">Explore</span>
                        <h2 class="text-4xl lg:text-5xl font-bold font-heading" contenteditable="false">Latest Posts</h2>
                    </div>
                    <div class="hidden lg:block text-right w-1/2"></div>
                </div>
                <div class="flex flex-wrap -mx-3">
                    <div class="mb-8 lg:mb-0 w-full lg:w-1/4 px-3">
                        <div class="py-4 px-6 bg-white shadow rounded">
                            <h4 class="mb-4 text-gray-500 font-bold uppercase">CATEGORIES</h4>
                            <ul>
                                <li><a class="block py-2 px-3 mb-4 rounded text-teal-700 font-bold bg-gray-50" href="#">All</a></li>
                                <li><a class="block py-2 px-3 mb-4 rounded hover:text-teal-700 hover:bg-gray-50" href="#">JavaScript</a></li>
                                <li><a class="block py-2 px-3 mb-4 rounded hover:text-teal-700 hover:bg-gray-50" href="#">Web Development</a></li>
                                <li><a class="block py-2 px-3 mb-4 rounded hover:text-teal-700 hover:bg-gray-50" href="#">HTML and CSS</a></li>
                                <li><a class="block py-2 px-3 mb-4 rounded hover:text-teal-700 hover:bg-gray-50" href="#">SQL</a></li>
                                <li><a class="block py-2 px-3 mb-4 rounded hover:text-teal-700 hover:bg-gray-50" href="#">Computer Science</a></li>
                                <li><a class="block py-2 px-3 mb-4 rounded hover:text-teal-700 hover:bg-gray-50" href="#">Web Design</a></li>
                                <li><a class="block py-2 px-3 mb-4 rounded hover:text-teal-700 hover:bg-gray-50" href="#">Best Practices</a></li>
                                <li><a class="block py-2 px-3 mb-4 rounded hover:text-teal-700 hover:bg-gray-50" href="#">Other</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full lg:w-3/4 px-3">
                        <div class="flex flex-wrap -mx-3 mb-8 lg:mb-6">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3">
                                <img class="w-full h-full object-cover rounded" src="https://images.unsplash.com/photo-1552338804-c42590cb7b88?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1189&amp;q=80" alt="">
                            </div>
                            <div class="w-full lg:w-3/4 px-3">
                                <a class="hover:underline" href="#">
                                    <h3 class="mb-1 text-2xl font-bold font-heading">Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus</h3>
                                </a>
                                <div class="mb-2 flex items-center text-sm">
                                    <a class="text-teal-700 hover:underline hover:text-teal-600" href="#">John Doe</a>
                                    <span class="text-gray-400 mx-2">•</span>
                                    <span class="text-gray-400">24 Jan, 2021</span>
                                </div>
                                <p class="text-gray-500">Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum...</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-8 lg:mb-6">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3">
                                <img class="w-full h-full object-cover rounded" src="https://images.unsplash.com/photo-1578509395623-a34c97f15379?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80" alt="">
                            </div>
                            <div class="w-full lg:w-3/4 px-3">
                                <a class="hover:underline" href="#">
                                    <h3 class="mb-1 text-2xl font-bold font-heading">Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus</h3>
                                </a>
                                <div class="mb-2 flex items-center text-sm">
                                    <a class="text-teal-700 hover:underline hover:text-teal-600" href="#">John Doe</a>
                                    <span class="text-gray-400 mx-2">•</span>
                                    <span class="text-gray-400">24 Jan, 2021</span>
                                </div>
                                <p class="text-gray-500">Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum...</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-8 lg:mb-6">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3">
                                <img class="w-full h-full object-cover rounded" src="https://images.unsplash.com/photo-1551008475-4533d141425b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80" alt="">
                            </div>
                            <div class="w-full lg:w-3/4 px-3">
                                <a class="hover:underline" href="#">
                                    <h3 class="mb-1 text-2xl font-bold font-heading">Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus</h3>
                                </a>
                                <div class="mb-2 flex items-center text-sm">
                                    <a class="text-teal-700 hover:underline hover:text-teal-600" href="#">John Doe</a>
                                    <span class="text-gray-400 mx-2">•</span>
                                    <span class="text-gray-400">24 Jan, 2021</span>
                                </div>
                                <p class="text-gray-500">Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum...</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-8 lg:mb-6">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3">
                                <img class="w-full h-full object-cover rounded" src="https://images.unsplash.com/37/IHLjdHdzSvi0rgUMMlSK_TE3_0286.jpg?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1191&amp;q=80" alt="">
                            </div>
                            <div class="w-full lg:w-3/4 px-3">
                                <a class="hover:underline" href="#">
                                    <h3 class="mb-1 text-2xl font-bold font-heading">Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus</h3>
                                </a>
                                <div class="mb-2 flex items-center text-sm">
                                    <a class="text-teal-700 hover:underline hover:text-teal-600" href="#">John Doe</a>
                                    <span class="text-gray-400 mx-2">•</span>
                                    <span class="text-gray-400">24 Jan, 2021</span>
                                </div>
                                <p class="text-gray-500">Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum...</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-8 lg:mb-6">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3">
                                <img class="w-full h-full object-cover rounded" src="https://images.unsplash.com/photo-1552338804-c42590cb7b88?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1189&amp;q=80" alt="">
                            </div>
                            <div class="w-full lg:w-3/4 px-3">
                                <a class="hover:underline" href="#">
                                    <h3 class="mb-1 text-2xl font-bold font-heading">Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus</h3>
                                </a>
                                <div class="mb-2 flex items-center text-sm">
                                    <a class="text-teal-700 hover:underline hover:text-teal-600" href="#">John Doe</a>
                                    <span class="text-gray-400 mx-2">•</span>
                                    <span class="text-gray-400">24 Jan, 2021</span>
                                </div>
                                <p class="text-gray-500">Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum...</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3">
                                <img class="w-full h-full object-cover rounded" src="https://images.unsplash.com/photo-1578509395623-a34c97f15379?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80" alt="">
                            </div>
                            <div class="w-full lg:w-3/4 px-3">
                                <a class="hover:underline" href="#">
                                    <h3 class="mb-1 text-2xl font-bold font-heading">Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus</h3>
                                </a>
                                <div class="mb-2 flex items-center text-sm">
                                    <a class="text-teal-700 hover:underline hover:text-green-600" href="#">John Doe</a>
                                    <span class="text-gray-400 mx-2">•</span>
                                    <span class="text-gray-400">24 Jan, 2021</span>
                                </div>
                                <p class="text-gray-500">Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="skew skew-bottom mr-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
            </svg>
        </div>
        <div class="skew skew-bottom ml-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon fill="currentColor" points="0 0 10 0 10 10"></polygon>
            </svg>
        </div>
    </section>
    
</main>

{{> footer}}